@import "tailwindcss";

:root {
  --background: #000000;
  --foreground: #ffffff;

  /* FONTS */
  --font-sans: "Inter", sans-serif;
  --font-serif: "Instrument Serif", serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --font-sans: var(--font-sans);
  --font-serif: var(--font-serif);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}

/* OPTIONAL UTILITY CLASSES */
.font-serif {
  font-family: var(--font-serif);
}

.font-inter {
  font-family: var(--font-sans);
}